VOL_DIR=${HOME}/data

USER_NAME=change_me

DB_NAME=cloud-1-db
DB_HOST=mariadb:3306

WP_ROOT=/var/www/html
WP_URL=https://example.com
WP_TITLE=cloud-1
WP_EMAIL=admin@example.com
WP_LOCALE=en_US
WP_THEME=twentytwentyone

IP_ADDR=127.0.0.1
