# Terraform local state and cache
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local files
_tmp_/
.DS_Store
